.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.board--container{
    border: 5px solid red;
    width: 700px;
    height: 700px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.box{
    border: 1px solid #ccc;
    display: flex;
    padding-top: 1rem;
    justify-content: center;
    color: #aaa;
    font-size: 2rem;
}

.hidden{
    display: none;
}

.highlighted{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    border: 4px solid #059c85;
    background-color: #bafff5;
    font-weight: 700;
    font-size: 3rem;
}

.showEmoji{
    display: block;
    width: 50px;
    height: 50px;
}